# **Tính toán và phân tích điểm thi (Test Grade Calculator)**

Viết một chương trình để tính toán điểm thi cho nhiều lớp với sĩ số hàng nghìn học sinh. Mục đích của chương trình giúp giảm thời gian chấm điểm. Bạn sẽ áp dụng các functions (hàm) khác nhau trong Python để viết chương trình với các tác vụ sau:

1. Mở các tập tin văn bản bên ngoài được yêu cầu với exception-handling
2. Quét từng dòng của câu trả lời bài thi để tìm dữ liệu hợp lệ và cung cấp báo cáo tương ứng
3. Chấm điểm từng bài thi dựa trên tiêu chí đánh giá (rubric) được cung cấp và báo cáo
4. Tạo tập tin kết quả được đặt tên thích hợp

**Mục đích:**

Học cách viết một chương trình Python tập trung vào lập trình cơ bản, sử dụng list, function và xử lý với chuỗi. Hơn nữa, bạn sẽ biết cách truy cập file để đọc dữ liệu và ghi kết quả thống kê được.

## **1.**
Viết một chương trình cho phép người dùng nhập tên của một tệp và truy cập đọc.

Sử dụng exception nếu tên của tệp input không tồn tại trong folder dữ liệu (đừng chỉ dùng một loạt các câu lệnh "if")

In [382]:
file = None
try:
  n = input('Enter a class to grade (i.e. class1 for class1.txt): ')
  file = open(f'C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt', mode = 'r', encoding = 'utf-8')
  files = file.read().splitlines()
  print(f'Successfully opened {n}.txt')
  print('**** ANALYZING ****')
  print(files)
except:
  print('No errors found!')

Successfully opened 1.txt
**** ANALYZING ****
['N00000001,A,A,D,D,C,D,D,A,,C,D,B,C,,B,C,B,D,A,C,,A,,C,D', 'N00000002,,A,,D,,B,D,A,C,C,D,,A,A,A,C,B,D,C,C,A,A,B,,D', 'N00000003,B,A,,D,C,B,D,A,C,C,,B,A,B,A,C,B,D,A,,A,,B,D,D', 'N00000004,B,B,D,,,B,D,A,C,C,D,B,A,B,A,C,B,D,,C,A,D,B,C,D', 'N00000005,B,A,,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,D,C,A,A,,D,D', 'N00000006,B,A,D,A,C,B,D,A,C,C,C,B,A,D,A,C,,C,A,C,A,C,B,D,A', 'N00000007,B,A,D,D,C,B,D,A,C,,D,B,A,B,A,C,B,D,,C,A,A,B,D,', 'N00000008,A,A,D,D,C,,D,A,C,C,B,C,A,B,A,A,B,D,A,C,A,,B,B,D', 'N00000009,B,A,,D,C,B,D,A,C,A,D,B,A,B,A,A,B,D,A,C,A,A,B,D,D', 'N00000010,,A,D,B,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,D,,,B,D,B', 'N00000011,B,A,D,,C,B,D,A,C,D,D,B,A,B,A,C,B,D,A,C,A,B,B,D,D', 'N00000012,B,,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,,A,A,A,,C', 'N00000013,,A,D,,B,B,,A,C,A,D,B,A,B,D,C,B,D,A,C,A,A,B,D,D', 'N00000014,B,B,D,D,C,B,,D,C,C,D,B,A,B,A,C,,D,A,C,A,A,,D,D', 'N00000015,A,C,C,D,C,B,,A,C,C,D,B,A,B,A,C,B,D,A,C,A,B,,D,D', 'N00000016,B,A,C,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D', 'N00000017,B,A,D,D,C,B,C,A,D,C,D,A,A,D,A,C,B,D,D,B,,A,B,D,D', 'N00000018,B,A,D,A,C,B,D,A,C,C,D,B,A,B,,,B,D,A,B,A,A,B,,D', 'N00000019,B,A,D,D,C,B,D,C,C,C,,B,,B,D,C,B,D,A,,A,A,B,D,D', 'N00000020,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D']

### **2.**
Scan từng dòng trong tệp và đảm bảo format hợp lệ

Báo cáo dữ liệu "không hợp lệ" kèm theo lý do

Báo cáo tổng số dòng hợp lệ và số dòng không hợp lệ của dữ liệu lưu trong tệp

In [383]:
valid = 0
invalid = 0
valid_line =[]
for i in files:
    line = i.split(',') #.strip()
    
    if len(line) != 26:
        print('Invalid line of data: does not contain exactly 26 values:')
        print(i)
        invalid += 1
        
    elif len(line[0]) != 9 or not line[0].startswith('N') or not line[0][1:].isnumeric():
        print('Invalid line of data: N# is invalid')
        print(i)
        invalid += 1
    else:
        valid += 1
        valid_line.append(line)

print('**** REPORT ****')
print('Total valid lines of data:', valid)
print('Total invalid lines of data:', invalid)


# answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

**** REPORT ****
Total valid lines of data: 20
Total invalid lines of data: 0

Chấm điểm bài thi dựa vào tiêu chí đánh giá (rubrics) đã cho

Báo điểm trung bình, điểm cao nhất, thấp nhất, miền giá trị của điểm và giá trị trung vị

## **3.**
3.1. Đếm số lượng học sinh đạt điểm cao (>80).

In [384]:
import statistics
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
# N0000002,   B,A,D,D,C,B,D,A,C,D,D,D,A, ,A,C,D, ,A,C,A,A,B,D,D : 20*4 = 80 - 3 = 77

answer_key = answer_key.split(',')
result = {}


file2 = open(f'C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt', mode = 'r', encoding = 'utf-8').read().splitlines()
for sv in file2:
  sv = sv.split(",")

# iterate over the list using index
  score = 0
  for i in range(len(answer_key)):
    # print(i)
    if answer_key[i] == sv[i+1]:
      score += 4
    elif len(sv) != 26:
        # print("Invalid line of data: does not contain exactly 26 values: \n", file[0][i])
        break
    elif sv[i+1] == '':
        pass
    else:
      score = score - 1
  result[sv[0]] = score
result

value = list(result.values())
# value.remove(0)
# print(value)
result_need = {key:value for (key, value) in result.items() if value >= 80}
# print(result_need)
print("Total student of high scores: ", len(result_need))

Total student of high scores:  6

3.2. Điểm trung bình.

3.3. Điểm cao nhất.

3.4. Điểm thấp nhất.

3.5. Miền giá trị của điểm (cao nhất trừ thấp nhất).

3.6. Giá trị trung vị (Sắp xếp các điểm theo thứ tự tăng dần. Nếu # học sinh là số lẻ, bạn có thể lấy giá trị nằm ở giữa của tất cả các điểm (tức là [0, 50, 100] — trung vị là 50). Nếu # học sinh là chẵn bạn có thể tính giá trị trung vị bằng cách lấy giá trị trung bình của hai giá trị giữa (tức là [0, 50, 60, 100] — giá trị trung vị là 55)).

In [385]:
# Bài tính
x = statistics.mean(value)
print("Mean (average) score: ", round(x,2))
print("Highest score: ", max(value))
print("Lowest score: ", min(value))
print("Range of scores: ", max(value) - min(value))
z = statistics.median(value)
v = print("Median score: ", round(z,2))

Mean (average) score:  75.6
Highest score:  91
Lowest score:  59
Range of scores:  32
Median score:  73.0

In [386]:
import pandas as pd
import numpy as np

3.7. Trả về các câu hỏi bị học sinh bỏ qua nhiều nhất theo thứ tự: số thứ tự câu hỏi - số lượng học sinh bỏ qua -  tỉ lệ bị bỏ qua (nếu có cùng số lượng cho nhiều câu hỏi bị bỏ thì phải liệt kê ra đầy đủ).

In [387]:
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
df = pd.DataFrame()
df = pd.read_csv(f'C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt', header=None, sep=',', on_bad_lines='skip')
# print(df[1:])
valid = df[1].count()
count = len(df)
miss = count - valid
ratio_miss = miss/count
# error = df[df[1] != answer_key[0]]
# invalid = count - int(error)
# ratio_error = error/count
print(f"Question that most people skip: {valid}-{miss}-{ratio_miss}".format(valid,count,ratio_miss))
# print(f"Question that most people answer incorrectly: {invalid}-{error_final}-{ratio_error}".format(invalid,error_final,ratio_error))

Question that most people skip: 17-3-0.15

3.8. Trả về các câu hỏi bị học sinh sai qua nhiều nhất theo thứ tự: số thứ tự câu hỏi - số lượng học sinh trả lời sai - tỉ lệ bị sai (nếu có cùng số lượng cho nhiều câu hỏi bị sai thì phải liệt kê ra đầy đủ).

*italicized text*[77,68, 76, 0, 73, 77, 72, 79, 73, 87, 82, 76, 87, 77, 69, 16, 77, 75, 73, 66, 73, 91, 100, 86, 90, 67,79]
* answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
* N0000001,  = "A,A,D,D,C,D,D,A, ,C,D,B,C, ,B,C,B,D,A,C, ,A, ,C,D"
* N00000020, = "B, ,D,D,C,B,D,A,C,B, , ,A,C,A,D,B,D,B,C,A,A,B,D,D" : 21-3-0.25
* Trả về các câu hỏi bị học sinh bỏ qua nhiều nhất theo thứ tự: số thứ tự câu hỏi - số lượng học sinh bỏ qua -  tỉ lệ bị bỏ qua (nếu có cùng số lượng cho nhiều câu hỏi bị bỏ thì phải liệt kê ra đầy đủ).

In [388]:
# import pandas as pd

# class1 = open(f"C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt",'r')
# class_dict={}

# for line in class1:
#     data = line.strip().split(",")
#     class_dict[data[0]] = data[1:]

# df = pd.DataFrame(class_dict)
# df

In [389]:
df = pd.read_csv(r"C:\Users\Quan Thi Thanh Hoa\AppData\asm2.ipynb\DSP301\Asm\data-files\Data Files\class1.txt", header=None).set_index(0)
error_df=df.isna().sum()
error_df[error_df==error_df.max()]
percent_error = error_df.max()/25
print(f"Question that most people answer incorrectly: {error_df.max()}-{percent_error}".format(error_df,error_df.max(),percent_error))

Question that most people answer incorrectly: 4-0.16

## **4.**

Viết kết quả vào tệp (số lượng file xuất ra phải bằng số lượng file nhập vào) 

Mỗi dòng chứa số ID của học viên, dấu phẩy, và điểm của họ

In [390]:
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
diemso = open(f"C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt").read().splitlines()
answer_key = answer_key.split(',')
result = {}
for sv in diemso:
  sv = sv.split(",")
  # print(sv)
  score = 0
  for i in range(len(answer_key)):
    if answer_key[i] == sv[i+1]:
      score += 4
    elif sv[i+1] == '':
      pass
    else:
      score -= 1
  result[sv[0]] = score

Em lưu json để đọc file nhanh hơn.

Cuối cùng, yêu cầu chương trình của bạn tạo một tệp “kết quả” chứa các kết quả chi tiết cho từng học sinh trong lớp của bạn. Mỗi dòng của tệp này phải chứa số ID của học sinh, dấu phẩy và sau đó là điểm của họ. Bạn nên đặt tên tệp này dựa trên tên tệp gốc được cung cấp — ví dụ: nếu người dùng muốn phân tích “class1.txt”, bạn nên lưu trữ kết quả trong tệp có tên “class1_grades.txt”.

In [391]:
import json 
with open("sample.json", "w") as outfile:
    json.dump(result, outfile)
    # print("\nPrinting nested dictionary as a key-value pair\n")
    # for i in result.items():
    #     print(i)
    #     json.dump(i, outfile)

## **5.**

Sử dụng pandas khi thực thi các task

Có thể đọc tất cả các file được tải về

Sử dụng exception nếu tên của tệp input không tồn tại trong folder dữ liệu (đừng chỉ dùng một loạt các câu lệnh "if")

In [392]:
import pandas as pd
import numpy as np

In [393]:
file = None
try:
  n = input('Enter a class to grade (i.e. class1 for class1.txt): ')
  file = open(f'C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt', mode = 'r', encoding = 'utf-8')
  files = file.read().splitlines()
  print(f'Successfully opened {n}.txt')
  print('**** ANALYZING ****')
  print(files)
except:
  print('No errors found!')

No errors found!

In [ ]:
try: 
    print(f'Successfully opened {n}.txt')
    print('**** ANALYZING ****')
except:
  print('No errors found!')

Successfully opened 2.txt
**** ANALYZING ****

In [ ]:
df = pd.read_csv(f"C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt", header=None, on_bad_lines='skip').set_index(0)
df

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,B,A,C,D,C,C,D,D,C,C,...,C,B,NaN,A,D,A,A,B,D,NaN
N00000022,B,A,D,A,C,B,D,D,C,C,...,NaN,B,A,A,C,A,A,B,A,D
N00000023,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,NaN,NaN,NaN
N00000024,C,C,D,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,B,NaN,D
N0000002,B,A,D,D,C,B,D,A,C,D,...,C,D,NaN,A,C,A,A,B,D,D
N00000026,B,C,D,D,C,D,B,A,C,D,...,C,B,D,NaN,C,A,A,B,D,D
NA0000027,B,A,D,D,NaN,B,NaN,A,C,B,...,C,B,D,A,NaN,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,...,NaN,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,...,C,B,NaN,NaN,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,NaN,C,C,...,C,B,B,A,C,A,NaN,B,D,D
N00000031,B,NaN,D,D,C,B,D,A,A,C,...,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,NaN,A,B,D,D
N00000033,B,A,D,D,C,NaN,D,A,C,B,...,C,C,D,A,C,A,NaN,B,D,D
N00000034,B,NaN,D,NaN,C,B,A,A,C,C,...,C,B,A,B,C,A,NaN,B,D,D
N00000036,B,A,D,D,C,B,D,A,C,B,...,C,B,D,A,C,A,A,B,NaN,NaN
N00000037,B,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,NaN,NaN,NaN,D,D
N00000038,NaN,A,D,NaN,C,B,D,A,A,C,...,C,B,D,NaN,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,...,NaN,C,D,A,B,A,A,B,A,D
N00000040,B,A,NaN,D,C,B,D,D,C,C,...,C,A,NaN,A,C,A,NaN,B,D,D
N00000041,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,NaN,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,...,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,NaN,C,...,B,B,A,NaN,C,A,A,B,D,D

Scan từng dòng trong tệp và đảm bảo format hợp lệ

Báo cáo dữ liệu "không hợp lệ" kèm theo lý do

Báo cáo tổng số dòng hợp lệ và số dòng không hợp lệ của dữ liệu lưu trong tệp

In [ ]:
valid = 0
invalid = 0
valid_line =[]
for i in files:
    line = i.split(',') #.strip()
    
    if len(line) != 26:
        print('Invalid line of data: does not contain exactly 26 values:')
        print(i)
        invalid += 1
        
    elif len(line[0]) != 9 or not line[0].startswith('N') or not line[0][1:].isnumeric():
        print('Invalid line of data: N# is invalid')
        print(i)
        invalid += 1
    else:
        valid += 1
        valid_line.append(line)

print('**** REPORT ****')
print('Total valid lines of data:', valid)
print('Total invalid lines of data:', invalid)


# answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

Invalid line of data: does not contain exactly 26 values:
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
Invalid line of data: N# is invalid
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
Invalid line of data: N# is invalid
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
Invalid line of data: does not contain exactly 26 values:
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A
**** REPORT ****
Total valid lines of data: 21
Total invalid lines of data: 4

Chấm điểm bài thi dựa vào tiêu chí đánh giá (rubrics) đã cho

Báo điểm trung bình, điểm cao nhất, thấp nhất, miền giá trị của điểm và giá trị trung vị

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(f"C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt", header=None, on_bad_lines='skip', sep=',')
answer_key = np.array("B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(','))

def scores(x, target):
    score = 0
    for i in range(len(x)):
        if x[i] == target[i]:
            score += 4
        elif x[i] == '':
            score += 0
        else:
            score -= 1
    return score

In [ ]:
df["score"]=df.loc[:,1:].apply(lambda x: scores(x.values, answer_key), axis=1)
df.score.describe()

count     24.000000
mean      75.416667
std        9.431292
min       65.000000
25%       70.000000
50%       75.000000
75%       81.250000
max      100.000000
Name: score, dtype: float64

In [398]:
valid = df[1].count()
count = len(df)
miss = count - valid
ratio_miss = miss/count
print(f"Question that most people skip: {valid}-{miss}-{ratio_miss}".format(valid,count,ratio_miss))

Question that most people skip: 17-3-0.15

In [397]:
df = pd.read_csv(r"C:\Users\Quan Thi Thanh Hoa\AppData\asm2.ipynb\DSP301\Asm\data-files\Data Files\class1.txt", header=None).set_index(0)
error_df=df.isna().sum()
error_df[error_df==error_df.max()]
percent_error = error_df.max()/25
print(f"Question that most people answer incorrectly: {error_df.max()}-{percent_error}".format(error_df,error_df.max(),percent_error))

Question that most people answer incorrectly: 4-0.16

Viết kết quả vào tệp (số lượng file xuất ra phải bằng số lượng file nhập vào) 

Mỗi dòng chứa số ID của học viên, dấu phẩy, và điểm của họ

In [394]:
df = pd.read_csv(f"C:\\Users\\Quan Thi Thanh Hoa\\AppData\\asm2.ipynb\\DSP301\\Asm\\data-files\\Data Files\\class{n}.txt", header=None, on_bad_lines='skip', sep=',')
answer_key = np.array("B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(','))

def scores(x, target):
    score = 0
    for i in range(len(x)):
        if x[i] == target[i]:
            score += 4
        elif x[i] == '':
            score += 0
        else:
            score -= 1
    return score

In [395]:
df_0=df[0]
df["score"]=df.loc[:,1:].apply(lambda x: scores(x.values, answer_key), axis=1)
new=df.score
new_=pd.DataFrame(new)

In [396]:
new_.insert(loc=0, column='MSSV', value=df_0)
new_

         MSSV  score
0   N00000001     55
1   N00000002     65
2   N00000003     80
3   N00000004     70
4   N00000005     80
5   N00000006     65
6   N00000007     85
7   N00000008     65
8   N00000009     85
9   N00000010     70
10  N00000011     85
11  N00000012     70
12  N00000013     70
13  N00000014     75
14  N00000015     70
15  N00000016     90
16  N00000017     65
17  N00000018     75
18  N00000019     75
19  N00000020     65